<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forumprojectwithphp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".changingPrivillagesActivity" />
        <activity android:name=".changingLevelActivity" />
        <activity android:name=".adminActivity" />
        <activity android:name=".EditTopicActivity" />
        <activity android:name=".AddingTopicsActivity" />
        <activity android:name=".WriteMessageActivity" />
        <activity android:name=".WiadomosciActivity" />
        <activity android:name=".TopicsActivity" />
        <activity android:name=".EditTopicGroup" />
        <activity android:name=".AddingTopicGroupActivity" />
        <activity android:name=".TopicGroupActivity" />
        <activity android:name=".ShowPasswordActivity" />
        <activity android:name=".UprawnieniaActivity" />
        <activity android:name=".AvailableLevelsActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainUserScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>